/*Docente*/
#blog .callout-1{padding:55px 0 80px;}
#blog .callout-1 h1{padding-bottom:50px;}
#blog .callout-1 h5{padding-bottom:25px;}
#blog .callout-1 .blog-grande figure{margin-bottom:20px;}
#blog .callout-1 .blog-grande figure img{height:313px;width:100%;}
#blog .callout-1 .blog-grande .descri{padding:0 10px 30px;}
#blog .callout-1 .blog-grande .descri p a{color:#232B36}
#blog .callout-1 .blog-grande .descri span{color:#637381;font-size:12.98px;line-height:19.47px;display:block;padding:8px 0 20px;}
#blog .callout-1 .blog-grande .descri .table-final{display:table;width:100%;height:20px;}
#blog .callout-1 .blog-grande .descri .table-final > *{display:table-cell;vertical-align:middle;color:#232B36;font-size:14px;line-height:19.47px;}
#blog .callout-1 .blog-grande .descri .table-final a.ref{color:#232B36;text-decoration:underline;}
#blog .callout-1 .lista-blog{padding-bottom:30px;max-width:360px;}
#blog .callout-1 .lista-blog p{font-size:16px;line-height:22.71px;padding-bottom:8px;}
#blog .callout-1 .lista-blog p a{color:#232B36;}
#blog .callout-1 .lista-blog .table-list{display:table;width:100%;height:20px;}
#blog .callout-1 .lista-blog .table-list > *{display:table-cell;vertical-align:middle;color:#232B36;font-size:14px;line-height:19.47px;}
#blog .callout-1 .lista-blog .table-list > div:first-child{width:120px;}
#blog .callout-1 .clearfix2{padding-bottom:45px;border-bottom:1px solid #DDDDDD;margin-bottom:60px;}
#blog .callout-1 .lista-blog2 p{padding-bottom:18px;}
#blog .callout-1 .lista-blog2 p.titu{font-size:20px;line-height:22.71px;padding-bottom:8px;}
#blog .callout-1 .lista-blog2 p.titu a{color:#232B36;}
#blog .callout-1 .lista-blog2 .table-final{display:table;width:100%;height:20px;}
#blog .callout-1 .lista-blog2 .table-final > *{display:table-cell;vertical-align:middle;color:#232B36;font-size:14px;line-height:19.47px;}
#blog .callout-1 .lista-blog2 .table-final > div:first-child{width:130px;}
#blog .callout-1 .fire{max-width:200px;}
#blog .callout-1 .fire img{height:157px;width:100%;}
#blog .callout-1 .clearfix3{padding-bottom:55px;}
#blog .callout-1 .catego2{display:none;}
#blog .callout-1 .catego .separar{border-top:1px solid #DDD;padding:16px 0;}
#blog .callout-1 .catego .separar p{min-height:39px;padding-right:120px;position:relative;padding-top:5px}
#blog .callout-1 .catego .separar .boton{position:absolute;right:0;top:0;font-size:14px;line-height:21px;padding:8px;max-width:116px;}
#blog .callout-1 .catego .bota{color:#CA3A2B;font-size:14px;line-height:19px;text-decoration:underline;display:inline-block;margin-top:30px;}
#blog .callout-1 .clearfix4{padding-bottom:30px;}
#blog .callout-1 .opa2{display:none}
#blog .callout-2{padding:70px 0 95px;}
#blog .callout-2 .parte-medio{max-width:850px;margin:0 auto;}
#blog .callout-2 .parte-medio h1{font-size:30px;line-height:38px;padding-bottom:45px;}
#blog .callout-2 .parte-medio .compa li{display:inline-block;font-size:18px;line-height:28px}
#blog .callout-2 .parte-medio .compa li:first-child{padding-right:90px;}
#blog .callout-2 .parte-medio .compa li:last-child a{margin:0 10px;display:inline-block;}
#blog .callout-2 .parte-medio .compa li:last-child a:first-child{margin-left:20px;}
#blog .callout-2 .imagenmedio{padding:40px 0;}
#blog .callout-2 .imagenmedio span{font-size:20px;line-height:38px;display:block;padding-top:10px;}
#blog .callout-2 .descr > *{color:#232B36;}


#blog .listado .blog-grande{margin-bottom:50px;}
#blog .listado .blog-grande .descri p{height:50px;}

#blog .lleva_recursos h3 small{font-size:13px;line-height:19px;color:#333;}
#blog .lleva_recursos h4{font-size:16px;line-height:24px;padding:30px 0 15px;}
#blog .lleva_recursos p{font-size:16px;line-height:24px;padding-bottom:10px;text-decoration: underline;}
#blog .lleva_recursos p a{color:#333;}

.height-video-you{height:400px;}
.para-video{padding:20px 0 50px;width:800px;margin:auto;}


@media screen and (max-width: 63.999em){

}

@media only screen and (max-width:39.99em){
	#blog .callout-1 .catego,#blog .callout-1 .olda,#blog .callout-1 .opa{display:none;}
	#blog .callout-1 .catego.catego2,#blog .callout-1 .opa2{display:block;}
	#blog .callout-1 .fire{max-width:124px;}
}

@media screen and (max-width: 28em){
}

/* min widt*/
@media only screen and (min-width: 61em){

}

@media only screen and (min-width: 50.500em){

}

@media only screen and (min-width: 75em){

}