
main {margin-top: 0;}
.texto_corto{display:none!important;}
#landing_extra_larga .callout-1 {padding:80px 0 90px;background: linear-gradient(180deg, #042956 0%, #000 100%);}
#landing_extra_larga .callout-1 .logo { height: 28px;margin-bottom: 30px;}
#landing_extra_larga .callout-1 h2 {font-size: 17px!important;line-height: 24px;text-transform: uppercase;}
#landing_extra_larga .callout-1 h2 span{font-size: 15px!important;line-height: 24px; text-transform: initial;display: block;}
#landing_extra_larga .callout-1 h1 {font-size: 37px!important;line-height: 57x;text-transform: uppercase;}

#landing_extra_larga .callout-1 {padding:80px 0 90px;background: linear-gradient(180deg, #042956 0%, #000 100%);}
#landing_extra_larga .callout-1 {padding:80px 0 90px;background: linear-gradient(180deg, #042956 0%, #000 100%);}
#landing_extra_larga .callout-1 {padding:80px 0 90px;background: linear-gradient(180deg, #042956 0%, #000 100%);}
#landing_extra_larga .callout-1 {padding:80px 0 90px;background: linear-gradient(180deg, #042956 0%, #000 100%);}
#landing_extra_larga .callout-1 {padding:80px 0 90px;background: linear-gradient(180deg, #042956 0%, #000 100%);}
#landing_extra_larga .callout-1 {padding:80px 0 90px;background: linear-gradient(180deg, #042956 0%, #000 100%);}
#landing_extra_larga .callout-1 {padding:80px 0 90px;background: linear-gradient(180deg, #042956 0%, #000 100%);}
#landing_extra_larga .callout-1 {padding:80px 0 90px;background: linear-gradient(180deg, #042956 0%, #000 100%);}
#landing_extra_larga .callout-1 {padding:80px 0 90px;background: linear-gradient(180deg, #042956 0%, #000 100%);}
#landing_extra_larga .callout-1 {padding:80px 0 90px;background: linear-gradient(180deg, #042956 0%, #000 100%);}
#landing_extra_larga .callout-1 {padding:80px 0 90px;background: linear-gradient(180deg, #042956 0%, #000 100%);}
#landing_extra_larga .callout-1 {padding:80px 0 90px;background: linear-gradient(180deg, #042956 0%, #000 100%);}
#landing_extra_larga .callout-1 {padding:80px 0 90px;background: linear-gradient(180deg, #042956 0%, #000 100%);}

@media screen and (max-width: 40em ){

}
