.banner-land-paisajismos{background-image:url(../img/banners/2.jpg);filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/banners/2.jpg',sizingMethod='scale');-ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/banners/2.jpg',sizingMethod='scale')"; }


/* #land .ban-paisajismos{background-image:url(../img/banners/landing-paisajismos.jpg);} */
#land{margin-top: 0;}
/* #land .logo-movil{display:none;} */
#land .mascara{background:rgba(0,0,0,.2);height: 100%;width: 100%;}
#land .banners{border-bottom:12px solid #db271c;}
#land .banners img{padding:40px 0 30px;}
#land .banners .fondo3{height:600px;}
#land .banners h3{font-size:48px!important;line-height:60px;padding:80px 0 5px;}
#land .banners p{font-size: 20px;padding-top: 10px;}
#land .callout-1{background:#f1f1f1;padding:50px 0 60px;}
#land .callout-1  h3{font-size:20px!important;line-height:23px;}
#land .callout-1 figure{min-height:125px;margin-bottom:20px!important;}
#land .callout-1 figure img{max-height:125px;}
#land .callout-1 .large-8 h3{font-size:35px!important;line-height:45px;padding:55px 2px 30px;background:url(../img/iconos/hover-h2.png) bottom center no-repeat;text-transform:uppercase;}
#land .callout-1 .large-8 .columns{padding:0 8px 40px;}
#land .callout-1 .large-8 .detalle, #land .callout-1 .large-8 .detalle > *{font-size:16px!important;line-height:25px!important;}
#land .callout-1 .fond{background:#fff;padding:40px 40px 60px;margin-top:-450px;z-index:4;position:relative;border-radius:8px;-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .3);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .3);}
#land .callout-1 form h3{font-size:18px!important;padding-bottom:30px;color:#333;letter-spacing:0;}
#land form input[type="text"],
#land form input[type="email"]{background-color:#fff !important;border:1px solid #b1b1b1 !important;box-shadow:none !important;height:auto;padding:10px 14px;margin-bottom:25px !important;color:#333;font-size:16px;outline:0;border-radius:5px;  }
#land form button{margin:auto!important;}
/* #land form button:hover{background:#db271c;} */
.webinar_movil{display:none;}


footer.land{background:#f1f1f1;padding:20px 0;}

@media only screen and (max-width: 59.999em){

	#land .banners h3{padding:40px 0 5px;}
	#land .banners h3 {font-size: 38px!important;line-height: 50px;}
	#land .banners img{padding:50px 0 20px;}
	#land .callout-1 .large-8 h3{font-size: 25px!important;line-height: 35px;}
}

@media screen and (max-width: 51em) { 

	#land .logo-pc{display:none;}
	#land .logo-movil{display:block;height:180px;}
}

@media screen and (max-width: 43em) { 
#land .callout-1 .fond{margin-top: -370px;padding:40px 30px 60px;}
}

@media screen and (max-width: 40em) { 
	.webinar_movil{display:block;}
	.webinar_pc{display:none;}
	#land .banners img{padding:30px 0;}
	#land .banners h3{font-size: 24px!important;line-height: 27px;padding:45px 0 5px;}
	#land .callout-1 .fond{margin-top: -320px;}
}


@media only screen and (max-width:24em){
	#land .banners img{padding:30px 0;}
	#land .banners h3{font-size: 24px!important;line-height: 27px;padding: 15px 0 5px;}
}

